aiodns==1.1.1
aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
ccxt==1.28.30
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
idna==2.9
multidict==4.7.6
pycares==3.1.1
pycparser==2.20
requests==2.23.0
six==1.15.0
urllib3==1.25.9
yarl==1.1.0
